

.back-button {
    position: absolute;
    left: -1em;
    font-size: 1.2rem;
    padding: 0.5em;
    padding-left: 1.7em;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: 1px 0.7px 4px #8c8c8c;
}
