

.back-button {
    position: absolute;
    left: -1em;
    font-size: 1.2rem;
    padding: 0.5em;
    padding-left: 1.7em;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    z-index: 2;
}

