.result-content {
    /* background: red; */
    background: white;

    /* center to the x and y axis */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    /* position at the front */
    z-index: 3;

    /* container styles */
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    /* border: 2px solid #bfbfbf; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: auto;
    scrollbar-width: none;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-container {
    overflow: hidden;
    background: red;
}

.result {
    min-width: 60vw;
    min-height: 60vh;
    max-height: 90vh;
}

.close-button {
    position: sticky;
    left: 95%;
    bottom: 95%;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .result {
        min-width: 80vw;
        max-height: 90vh;
    }
    .close-button {
        left: 94%;
        bottom: 96%;
    }
}
