.result-container {
    /* background: red; */
    background: white;

    /* center to the x and y axis */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    /* position at the front */
    z-index: 2;

    /* container styles */
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 15vh;
    padding-bottom: 15vh;

    border-radius: 1rem;
    border: 2px solid #bfbfbf;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.result {
    min-width: 60vw;
}

.close-button {
    position: absolute;
    right: 2.5%;
    top: 5%;
    cursor: pointer;
}

