

.upload-box {
    /* border: 2px #1890ff; */
    position: relative;
    background: #e6f7ff;
    height: 40vw;
    width: 40vw;
    max-height: 40vh;
    max-width: 40vh;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 1vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.upload-box > img {
    width: 90%;
    height: 90%; 
    object-fit: contain;
}

.delete-button {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #ff4d4f;
    max-width: 2rem;
    cursor: pointer;
    filter:  drop-shadow(0px 8px 24px rgba(149, 157, 165, 7));
}

.icon {
    min-width: 10vh;
    max-width: 12vh;
    color: #85a5ff;
    filter:  drop-shadow(0px 8px 24px rgba(149, 157, 165, 0.2));
}

.upload-box-contents {
    display: flex;
    flex-direction: column;
}

input {
    display: hidden;
}

@media screen and (max-width: 480px) {
    .upload-box {
        height: 60vw;
        width: 60vw;
    }
}

