

.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.upload-button {
    margin: 1em;
    min-width: 10vw;
}



.steps-container {
    margin: 1em 1em 1em 1em;
}

@media screen and (min-width: 480px) {
    .upload-container {
        display: flex;
        flex-direction: row;
    }
}
